<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> View Book Records </title>



    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="jquery.js"></script>

</head>
<body>
   <h1 class="text-center bg-warning">
       Existing Book Records </h1>


<div class="container border shadow-lg">
    <div class="row justify-content-center m-2">
       {% if messages %} {% for message in messages %}
{% if message.tags %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong> {{message}} </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %} {% endif %}
       <div class="col-4">
           <form method="get" action="/searchbook" class="d-flex">
        <input class="form-control me-2" type="search" name="searchbook" id="searchbook" placeholder="Search by Book TitleName" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
       </div>
       <div class="col-2 mx-2">
           <a  class="btn btn-danger" href="/viewbook">View All Book Records</a>
       </div>

   </div>
{% if stu %}
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Book TitleName</th>
      <th scope="col">Author Name</th>
      <th scope="col">Catergory</th>
      <th scope="col">Quantity</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>

    {% for i in stu%}
    <tr>

      <td>{{i.Book_Id}}</td>
      <td>{{i.Book_Title}}</td>
      <td>{{i.Author_Name}}</td>
      <td>{{i.Catergory}}</td>
      <td>{{i.Quantity}}</td>
      <td>
          <form action="{% url 'updatebookdata' i.Book_Id %}" method="post" class="d-inline"> {% csrf_token %}
              <button class="btn btn-success btn-sm" type="submit" value="Update">Update</button>
          </form>
          <form action="{% url 'deletebook' i.Book_Id %}" method="post" class="d-inline"> {% csrf_token %}
                                 <button type="button" value="Delete" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete{{i.Book_Id}}">
                                          Delete
                                 </button>
                                     <!-- Modal & Static & centered & scrollable-->
        <div class="modal fade" id="delete{{i.Book_Id}}" data-bs-backdrop="static" data-bs-keyboard="false"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title text-warning" id="staticBackdropLabel">Warning Alert </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <h5 class="text-danger"><strong>Warning</strong>: The following Record will be delete permanently </h5>


                                <p>Please Agree below for deletion of Member Records.<br>
                                   Book Title : {{i.Book_Title}} <br>
                                    Book ID : {{i.Book_Id}} <br>
                                   Book Author : {{i.Author_Name}} </p>

                                <hr>
                                  <div class="col-12 form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="Check1" required>
                                        <label class="form-check-label" for="Check1">
                                          Do you want to Delete following Record
                                        </label>
                                    </div>

                                <div class="col-12 form-check mb-2 text-center">
                                   <button type="button" class="btn btn-success mx-1" data-bs-dismiss="modal">Cancel</button>
                                  <button class="btn btn-danger mx-1 " type="submit" value="Delete">Confirm Delete</button>
                                </div><hr>

                    </div>

                </div>
            </div>
        </div>

                                 </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h1>No data</h1>
{% endif %}
<div>
    <a href="/" class="btn btn-success m-1 float-start" type="back"> Home </a>
    <a href="addbook" class="btn btn-danger float-start m-1">Add More Books</a>
</div>

</div>



</body>
</html>